*{
  padding: 0;
  margin: 0;
}

.img1{
  display: block; 
  width: 100%;
  height: 250px;
}

.ul1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
.ul1{
    position: sticky;
    top: 0;
  }
 
  .li1{
    float:left
  }
  .li1 a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .li1 a:hover:not(.active) {
    background-color: #111;
  }
  
  .active {
    background-color: #f7cb07;
    color:#111;
  }

  main{
    display: flex;
    align-items:stretch;
    justify-content: flex-start;
  
  }

  .about{ 
  max-width: 200px;
  background-color: #333;
  color:white;
  padding: 25px;
  }

  .containt
  {
  flex: 1;
  text-align: center;
   }

  /*ul{
  display :inline-block;
  margin :auto;
  text-align:left;
  }*/
   
   